.react-calendar {
  width: 95% !important;
  background-color: transparent !important;
  border: 0px solid #f3f3f3 !important;
}
.tile-calender {
  color: #182237 !important;
}

.react-calendar_month-viewdays_day {
  margin: 12px !important;
}

.react-calendar__tile--active:enabled:hover {
  background-color: #e5e5e8 !important;
}

.react-calendar__month-view__days__day--weekend {
  color: #182237 !important;
}

.react-calendar__tile--now {
  background-color: #e5e5e8 !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  visibility: hidden;
}
